<%- include('../includes/header.ejs') %>
<body>
<%- include('../includes/nav.ejs') %>
	
	<main class="y-2">
		<div class="container">
			<div class="card mx-auto">
				<h1 class="mb text-center">Add Product</h1>
				<form action="/admin/add-product" method="post">
					<input class="input mb" type="text" name="title" placeholder="Enter title">
					<input class="input mb" type="text" name="imgUrl" placeholder="Enter image url">
					<input class="input mb" type="number" name="price" placeholder="Enter price" step='0.01'>
					<textarea class="input mb" col="5" placeholder="Enter Description" name="description"></textarea>
					<button class=" button" type="submit"> Add product </button>
				</form>
			</div>
		</div>
	</main>

<%- include('../includes/footer.ejs') %>
